__pycache__/
.ipynb_checkpoints
.vscode

data/pictures/*
!data/pictures/sample_board/
!data/pictures/sample_marker/
data/pictures/sample_marker/result
data/markers/*
!data/markers/sample/
data/result/*
data/videos/*
!data/videos/sample_marker/
data/videos/sample_marker/result